{% load bootstrap4 static i18n %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon-16x16.png' %}">
    <link rel="mask-icon" href="{% static 'images/safari-pinned-tab.svg' %}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <title>{% translate 'Log in' %}</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback" />
    <!-- Font Awesome -->
    <link rel="stylesheet" href="{% static 'AdminLTE/plugins/fontawesome-free/css/all.min.css' %}" />
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="{% static 'AdminLTE/plugins/icheck-bootstrap/icheck-bootstrap.min.css' %}" />
    <!-- Theme style -->
    <link rel="stylesheet" href="{% static 'css/cdd.css' %}" />
    <link href="{% static 'css/fonts.css' %}" rel="stylesheet">
</head>

<body class="hold-transition login-page">
    {%  if OTHER_LANGUAGES %}
        <nav class="main-header navbar navbar-expand">
            <ul class="navbar-nav ml-auto">
                {% include 'layouts/language_dropdown.html' %}
            </ul>
        </nav>
    {% endif %}
    <div class="login-box">
        <div class="login-logo"><b>CDD</b></div>
        <!-- /.login-logo -->
        <div class="card">
            <div class="card-body login-card-body">
                <p class="login-box-msg">
                    {% translate "Log in to start your session" %}
                </p>

                <form method="post">
                    {% csrf_token %} {% bootstrap_form form %}
                    <div class="row">
                        <!-- /.col -->
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary btn-block">
                                {% translate "Log in" %}
                            </button>
                        </div>
                        <!-- /.col -->
                    </div>
                </form>
                {% comment %}
                <p class="mb-1">
                    #} {# <a href="forgot-password.html">I forgot my password</a>#} {#
                </p>
          {% endcomment %}
        </div>
        <!-- /.login-card-body -->
      </div>
    </div>
    <!-- /.login-box -->

    <!-- jQuery -->
    <script src="{% static 'AdminLTE/plugins/jquery/jquery.min.js' %}"></script>
    <!-- Bootstrap 4 -->
    <script src="{% static 'AdminLTE/plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <!-- AdminLTE App -->
    <script src="{% static 'AdminLTE/dist/js/adminlte.js' %}"></script>
    <!-- Django Translation -->
    <script src="{% static 'js/setLanguajeDjangoTranslation.js' %}"></script>
  </body>
</html>
