{% extends 'layouts/base.html' %}
{% load static i18n bootstrap4 custom_tags %}

{% block content %}
<div class="row">
    <div class="col-12">

        {% if user.is_superuser or user|has_group:"Admin" %}
        <div class="float-right mb-3">
            <a href="{% url 'dashboard:authentication:user_create' %}"
               class="btn btn-primary btn-sm rounded-xl">
                <i class="fa fa-plus mr-2"></i>
                {% translate "Create User" %}
            </a>
        </div>
        {% endif %}

        <div class="clearfix"></div>


        <div class="input-group mb-3 search-bar">
            <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-search"></i></span>
            </div>
            <input class="form-control" id="search" placeholder="{% translate 'Search by name' %}...">
        </div>

        <div class="card">
            <div class="card-body table-responsive">

                <div class="card">
                    <div class="card-body table-responsive">
                        <table id="table" class="table">
                            <thead>
                            <tr>
                                <th>{% translate 'Organism' %}</th>
                                <th>{% translate 'Name' %}</th>
                                <th>{% translate 'Username' %}</th>
                                <th>{% translate 'Email' %}</th>
                                <th>{% translate 'Group' %}</th>
                                {% if user.is_superuser or user|has_group:"Admin" %}
                                <th>
                                    {% translate 'Action' %}
                                </th>
                                {% endif %}
                            </tr>
                            </thead>
                            <tbody>
                            {% for user_obj in users %}
                            <tr>
                                <td>{{ user_obj.user_profile.organism }}</td>
                                <td>{{ user_obj.get_full_name }}</td>
                                <td>{{ user_obj.username }}</td>
                                <td>{{ user_obj.email }}</td>
                                <td>{{ user_obj|get_group_high }}</td>
                                {% if user.is_superuser or user|has_group:"Admin" %}
                                <td>
                                    <a href="{% url 'dashboard:authentication:user_update' user_obj.pk %}"
                                       class="btn btn-primary btn-xs" title="{% translate 'Edit' %}">
                                        <span class="_web">{% translate 'Edit profile' %}</span>
                                        <span class="_mobile"><i class="fa fa-edit"></i></span>
                                    </a>
                                    <a href="{% url 'dashboard:authentication:user_delete' user_obj.pk %}"
                                       class="btn btn-danger btn-xs" title="{% translate 'Delete' %}">
                                        <span class="_web">{% translate 'Delete' %}</span>
                                        <span class="_mobile"><i class="fa fa-trash"></i></span>
                                    </a>
                                </td>
                                {% endif %}
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
{{ block.super }}

<!-- DataTables export files -->
{% include 'layouts/datatable-js.html' %}

<script type="text/javascript">
        $(document).ready(function () {
            {% get_current_language as lang %}

            let table = $('#table').DataTable({
                language: {
                    url: '{% static 'AdminLTE/plugins/datatables/locale/lang.json' %}'.replace('lang', '{{ lang }}')
                },
                dom: "Blrtip",
                buttons: [ 'copy', 'excel', 'pdf'],
                {% comment %} columnDefs: [
                    {
                        targets: 1,
                        orderable: false,
                        searchable: false,
                    }
                ], {% endcomment %}
                lengthMenu: [10, 20, 30, 40, 50, 60, 70, 80, 90, 100],
                pageLength: 10,
                order: [[0, 'desc']]
            });
            $('#search').on('keyup', function () {
                table.search($(this).val()).draw();
            });
        });

</script>


{% endblock %}

{% block select2 %}


{% endblock select2 %}