{% extends 'layouts/base.html' %}
{% load static i18n bootstrap4 custom_tags %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="fs28 lh35 text-primary text-bold-family mb-4" style="font-size: 16px !important;">
                     {% translate 'Attachment Detail' %}<br>
                </div>
                <p style="font-size: 16px !important;"><strong>Name:</strong> {{ object.name }}</p>
                <p style="font-size: 16px !important;"><strong>Type:</strong> {{ object.file_type }}</p>
                <p style="font-size: 16px !important;"><strong>Order:</strong> {{ object.order }}</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}