{% extends 'layouts/base.html' %}
{% load static i18n bootstrap4 custom_tags %}

{% block content %}
    <div class="row">
        <div class="col-12">
            
            {% if user.is_superuser or user|has_group:"Admin" %}
            <div class="float-right mb-3">
                <a href="{% url 'dashboard:tasks:create' %}"
                class="btn btn-primary btn-sm rounded-xl">
                    <i class="fa fa-plus mr-2"></i>
                    Create Task
                </a>
            </div>
            {% endif %}

            <div class="clearfix"></div>             
            
            <div class="input-group mb-3 search-bar">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-search"></i></span>
                </div>
                <input class="form-control" id="search" placeholder="{% translate 'Search by name' %}...">
            </div>

            <div class="card">
                <div class="card-body table-responsive">
                    <div id="tasks-list"></div>
                </div>
                <div class="overlay" id="spin">
                    <i class="fas fa-2x fa-sync-alt fa-spin"></i>
                </div>
            </div>

            {% comment %} <div class="card">
                <div class="card-body table-responsive">
                    <table id="table" class="table">
                        <thead>
                        <tr>
                            <th>{% translate 'Name' %}</th>
                            <th>{% translate 'Description' %}</th>
                            <th>{% translate 'Project' %}</th>
                            <th>{% translate 'Phase' %}</th>
                            <th>{% translate 'activity' %}</th>
                            <th>{% translate 'Couch Id' %}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for task in tasks %}
                            <tr>
                                <td>{{ task.name }}</td>
                                <td>{{ task.description }}</td>
                                <td>{{ task.project }}</td>
                                <td>{{ task.phase }}</td>
                                <td>{{ task.activity }}</td>
                                <td>{{ task.couch_id }}</td>
                                <td>                                   
                                    <a href="#"
                                       class="btn btn-primary btn-xs" title="{% translate 'Edit' %}">
                                        <span class="_web">Edit</span>
                                        <span class="_mobile"><i class="fa fa-edit"></i></span>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div> {% endcomment %}


        </div>
    </div>
{% endblock %}

{% block javascript %}
    {{ block.super }}

    {% comment %} <script type="text/javascript">
        $(document).ready(function () {
            {% get_current_language as lang %}

            let table = $('#table').DataTable({
                language: {
                    url: '{% static 'AdminLTE/plugins/datatables/locale/lang.json' %}'.replace('lang', '{{ lang }}')
                },
                dom: "ltipr",
                columnDefs: [
                    {
                        targets: 1,
                        orderable: false,
                        searchable: false,
                    }
                ],
                lengthMenu: [10, 50, 100],
                pageLength: 10,
                order: [[0, 'desc']]
            });
            $('#search').on('keyup', function () {
                table.search($(this).val()).draw();
            });
        });
    </script> {% endcomment %}


    <script type="text/javascript">
        var type_field = "";
        let spin = $('#spin');
        let tasks = $('#tasks-list');       

        function loadTasks(type_field="") {
            spin.show();
            $.ajax({
                type: "GET",
                url: "{% url 'dashboard:tasks:tasks_list' %}",
                data: {                    
                },
                success: function (response) {
                    spin.hide();
                    
                    tasks.html(response);
                },
                error: function (data) {
                    spin.hide();
                    alert(error_server_message + "Error " + data.status);
                }
            });
        }

        loadTasks();
       
    </script>


{% endblock %}
