{% extends 'layouts/base.html' %}
{% load bootstrap4 static i18n %}

{% block content %}
    <div class="row">
        <div class="col-md-12">

            <div class="card">

                <form method="post">
                    {% csrf_token %}

                    <div class="card-body">
                        <div class="row">
                            <div class="col-6">
                                {% bootstrap_field form.name %}
                                {% bootstrap_field form.description %}
                                {% bootstrap_field form.type %}
                                {% bootstrap_field form.form %}
                                {% bootstrap_field form.form_type %}
                                {% bootstrap_field form.attachments %}
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button  type="submit" class="btn btn-primary btn-sm rounded-xl" >
                            {% translate "SAVE" %}
                        </button>
                    </div>
                    </form>
            </div>
        </div>
    </div>
{% endblock content %}

{% block javascript %}
    {{ block.super }}
<script type="text/javascript">
    $(document).ready(function () {
        // By default we hide the two options (TextArea for JSON Form and select one list for forms)
        $('#id_form').parent().css('display', 'none');
        $('#id_form_type').parent().css('display', 'none');

        $("#id_type").change(function(){
            if ($(this).length > 0) {
                selected = $(this).val();
                form = $('#id_form');
                form_type = $('#id_form_type');
                if (selected === 'jsonforms') {
                    form.parent().css('display', 'grid');
                    form_type.val('');
                    form_type.select2('val', null);
                    form_type.select2();
                    form_type.parent().css('display', 'none');
                } else if (selected === 'form') {
                    form.parent().css('display', 'none');
                    form_type.val('');
                    form_type.parent().css('display', 'grid');
                }
            }
        });

        function isJSON(text) {
            if (typeof text !== "string") {
                return false;
            }
            try {
                JSON.parse(text);
                return true;
            } catch (error) {
                return false;
            }
        }

        $("#id_form").change(function() {
            var value = $(this).val();
            var parent = $(this).parent();
            if (!value) {
                $('#jsonfmessage').remove();
                return;
            }

            if (!isJSON(value)) {
                $('#jsonfmessage').remove();
                parent.append('<small class="form-text text-danger" id="jsonfmessage">Format invalide</small>');
            } else {
                $('#jsonfmessage').remove();
                parent.append('<small class="form-text text-success" id="jsonfmessage">OK</small>');
            }
        });
        $("#id_type").change();
    });
</script>
{% endblock %}