{% load static i18n custom_tags %}


{% comment %}
<div class="card">
    <div class="card-body">
        <span class="text-bold-family fs17">{% translate 'Tasks completed' %}: &nbsp;</span>
        <span class="fs17 text-primary">{{ total_tasks_completed }}</span>
            &nbsp; &nbsp; &nbsp; | &nbsp; &nbsp; &nbsp; 
        <span class="text-bold-family fs17">{% translate 'Tasks uncompleted' %}: &nbsp;</span>
        <span class="fs17 text-primary">{{ total_tasks_uncompleted }}</span>
            &nbsp; &nbsp; &nbsp; | &nbsp; &nbsp; &nbsp; 
        <span class="text-bold-family fs17">{% translate 'Percentage of the tasks completed' %}: &nbsp;</span>
        <span class="fs17 text-primary">{{ percentage_tasks_completed|floatformat:"2" }} %</span>
    </div>
</div>
{% endcomment %}
<div class="card">
    <div class="card-body table-responsive">
        <table id="table" class="table">
            <thead>
            <tr>
                <th>{% translate 'N°' %}</th>
                <th>{% translate 'Village' %}</th>
                <th>{% translate 'Completed' %}</th>
                <th>{% translate 'Uncompleted' %}</th>
                <th>{% translate 'Percentage' %}</th>
            </tr>
            </thead>
            <tbody>
                {% for Village, infos in dict_administrative_levels_with_infos.items %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ Village }}</td>
                    {% for key, value in infos.items %}
                        {% if key == "percentage_tasks_completed" %}
                        <td>{{ value|floatformat:"2"  }}%</td>
                        {% else %}
                        <td>{{ value }}</td>
                        {% endif %}
                    {% endfor %}
                </tr>
                {% endfor %}
                {% if dict_administrative_levels_with_infos|length > 1 %}
                <tr>
                    <td colspan="2"><b>Total</b></td>
                    <td><b>{{ total_tasks_completed }}</b></td>
                    <td><b>{{ total_tasks_uncompleted }}</b></td>
                    <td><b>{{ percentage_tasks_completed|floatformat:"2" }}%</b></td>
                </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
</div>



{% for task in tasks %}
    <div class="card-item" data-toggle="modal" data-target="#card-item-task-{{ task|get:'_id' }}" style="cursor: pointer;" >
        <div class="row">
            <div class="col-sm-7">
                <p class="village-name">{{ task.administrative_level_name }}</p>
                <div class="phase-title">
                    <span style="color: white; margin-bottom: 8px"
                          class="btn {% if task.completed %}badge-completed{% else %}badge-pending{% endif %}">
                        {{ task.phase_order }}.{{ task.activity_order }}.{{ task.order }}
                    </span> <p>{{ task.name }}</p>
                </div>
                <div class="phase-title mt-3 mb-2">
                    <p><span class="text-primary">{% translate 'ACTIVITY' %} :</span> {{ task.activity_name }}</p>
                    <p><span class="text-primary">{% translate 'PHASE' %} :</span> {{ task.phase_name }}</p>
                </div>
                <div class="border-separator"></div>
                
                <div class="text-bold-family mt-2 mb-2">
                    {% if task.attachments|length != 0 %}
                        {% translate "Attachments" %}
                    {% else %}
                        {% translate "No attachments" %}
                    {% endif %}
                </div>
                
                {% for attachment in task.attachments %}
                    {% if attachment.cloud_url %}
                        <a class="link-attachment mt-2" href="{{ attachment.cloud_url }}"
                           target="_blank">
                            <i class="fas fa-paperclip mr-2"></i>
                            {{ attachment.name }}
                        </a>
                    {% else %}
                        <i class="fas fa-paperclip mr-2"></i>
                        {{ attachment.name }}
                    {% endif %}
                {% endfor %}
            </div>
            <div class="col-sm-3">
                <div class="badge-closed-at">
                    <i class="far fa-calendar-alt text-warning"></i>
                    {% translate 'Completed on' %}:
                    {{ task.completed_date|default:'-' }}
                </div>
                <div class="badge-closed-at mt-1">
                    {% if task.completed and task.is_attachments_provided %}
                        <i class="fas fa-check success-color"></i>
                    {% elif task.completed and not task.is_attachments_provided %}
                        <i class="fas fa-exclamation-triangle warning-color"></i>
                    {% else %}
                        <i class="fas fa-clock gray-color"></i>
                    {% endif %}
                    {% translate 'Proof of completion' %}
                </div>
                <div class="badge-closed-at mt-1">
                    {% if task.validated %}
                        <i class="fas fa-check success-color"></i> {% translate 'Task validated' %}
                    {% else %}
                        {% if task.validated == False %}
                            <i class="fas fa-times warning-color"></i>
                            {% translate 'Task not validated' %}
                        {% else %}
                            <i class="fas fa-exclamation-triangle warning-color"></i>
                            {% translate 'Unseen task' %}
                        {% endif %}
                    {% endif %}
                </div>
            </div>
            <div class="col-sm-2 text-right text_completed_{{ task|get:'_id' }}">
                {% if task.completed %}
                    <div class="status-badge badge-completed">
                        {% translate 'Completed' %}
                    </div>
                {% else %}
                    <div class="status-badge badge-pending">
                        {% translate 'Pending' %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

    <!-- Modal  modal-dialog-centered -->
    {% include 'common/task-detail-dialog.html' with task=task db_name=facilitator_db_name %}
    <!-- End Modal -->

{% empty %}
    <div class="text-center">
        {% translate 'No tasks found' %}
    </div>
{% endfor %}


{% block modals %}
    {% include 'common/edit-comment-dialog.html' %}
{% endblock modals %}

{% include 'common/js-workflow.html' %}
