{% extends 'layouts/base.html' %}
{% load static i18n custom_tags %}
{% load bootstrap4 static i18n %}


{% block content %}

<form action="" class="container" method="post" id="task_form">
    {% csrf_token %}

    <!-- Main Form Start -->
    <div class="card">
        <!-- Form Title -->
        <div class="card-header card-header-secondary">
            <h4 class="card-title">{% translate 'Add Form' %}</h4>
        </div>

        <!-- Form Body -->
        {% for field in form %}
            <div class="form-group card-body">
                <label for="">{{ field.label }}</label>
                {% if field.field.required %}
                    <span style="color: red;" class="required">*</span>
                {% endif %}
                
                {{ field }}

                {% if field.help_text %}
                    <small style="color: grey;">{{ field.help_text }}</small>
                {% endif %}
                {% for error in field.errors %}
                    <p style="color: red">{{ error }}</p>
                {% endfor %}
            </div>
        {% endfor %}
    </div>

    <!-- Main Form End -->
    
    <!-- Inline form for FormFields start -->

    <!-- EXPLAINING with named_formsets.form_fields as formset -->
    <!-- Note: named_formsets is used in get_context_data function in views.py -->
    <!-- Note: here form_fields is our FormFieldFormSet name, used in get_named_formsets function in views.py -->
    {% with named_formsets.form_fields as formset %}
        {{ formset.management_form }}
        
        <script type="text/html" id="form_fields-template"> //id="inlineformsetname-template"            
            <tr id="form_fields-__prefix__" class="hide_all"> //id="inlineformsetname-__prefix__"
                {% comment %}
                {% for fields in formset.empty_form.hidden_fields %}
                    {{ fields }}
                {% endfor %}

                {% for fields in formset.empty_form.visible_fields %}
                    <td>{{ fields }}</td>
                {% endfor %}
                {% endcomment %}
            </tr>
        </script>

        <div class="table-responsive card mt-4">
            <div class="card-header card-header-secondary">
                <h4 class="card-title">{% translate 'Add Field' %}</h4>
            </div>

            <table class="table card-body">
                <thead class="text-secondary">
                    <th>{% translate 'Label' %} <span style="color: red">*</span></th>
                    <th>{% translate 'Name' %} <span style="color: red">*</span></th>
                </thead>

                <tbody id="form_fields">
                    <!-- formset non_form errors -->
                    {% for error in formset.non_form_errors %}
                        <span style="color: red">{{ error }}</span>
                    {% endfor %}

                    {% for formss in formset %}
                        {{ formss.management_form }}
                        <tr id="form_field-{{ forloop.counter }}" class="hide_all">
                            {{ formss.id }}
                            {% for field in formss.visible_fields %}
                                <td>
                                    {{field}}
                                    {% for error in field.errors %}
                                        <span style="color: red;">{{ error }}</span>
                                    {% endfor }

                                    
                                </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    {% endwith %}
</form>

{% endblock content %}