{% load static i18n custom_tags %}
<script>
    {% if total_tasks %}
    try{
        total_tasks = parseInt("{{ total_tasks }}");
    }catch(e){
        console.log(e);
    }
    {% endif %}

    $(document).ready(function () {
        initialzation()
    });
    function initialzation() {
        // Valide invalide
        let task__id = null;
        let action_code = null;
        let id_invalidate_elt = null;
        let btn_send_comment = $('#btn-send-comment');
        console.log('Inside initialzation...');
        $(document).on('click', '.invalidate_valide', function () {
            task__id = this.id.split("_")[this.id.split("_").length - 1];
            id_invalidate_elt = $(('#id_invalidate_'+task__id));
            for(var i = 0; i < this.classList.length; i++){
                if(this.classList[i].includes("action_code_")){
                    action_code = this.classList[i].split("_")[2];
                }
            }

            $('#card-item-task-'+task__id).modal('hide');
            $('#modal_comment').modal('show');
        });


        btn_send_comment.click(function () {
            let in_validation_comment = $('#id_in_validation_comment').val();

            if(["0", 0].includes(action_code) && (
                    ["", null, undefined].includes(in_validation_comment) || (
                        in_validation_comment && [""].includes(in_validation_comment.replace(/\s/g, ''))
                    )
                )
                )
            {
                alert("{% translate 'Please add a comment' %}");
            }else if(task__id != null && action_code != null){
                btn_send_comment.prop("disabled", true);
                btn_send_comment.text("{% translate 'Sending...' %}");
                $.ajax({
                    type: "GET",
                    url: "{% url 'dashboard:process_manager:validate_invalidate_task' %}",
                    data: {
                        // no_sql_db_name: facilitator_db_name,
                        no_sql_db_name: $('#facilitator-db-name-'+task__id).attr('data-db-name'),
                        task_id: task__id,
                        action_code: action_code,
                        in_validation_comment: in_validation_comment
                    },
                    success: function (response) {
                        if(response.status == "ok"){
                            let id_invalidate_valide_task__id_elt = $(("#id_invalidate_valide_"+task__id));
                            id_invalidate_valide_task__id_elt.removeClass(('action_code_'+action_code));

                            if(action_code == "1" || action_code == 1){
                                id_invalidate_valide_task__id_elt.addClass('action_code_0');

                                id_invalidate_valide_task__id_elt.text(`{% translate 'Mark as invalidated' %}`);
                                id_invalidate_valide_task__id_elt.removeClass("btn-primary");
                                id_invalidate_valide_task__id_elt.addClass("btn-warning");
                                $(('.text_'+task__id)).html(`<i class="fas fa-check success-color"></i> {% translate 'Task validated' %}`);
                                $(('.modal_text_'+task__id)).html(`
                                    <div class="status-badge success-color">
                                        <i class="fas fa-check success-color"></i> {% translate 'Task validated' %}
                                    </div>
                                `);
                            }else{
                                id_invalidate_valide_task__id_elt.addClass('action_code_1');

                                id_invalidate_valide_task__id_elt.text(`{% translate 'Mark as validated' %}`);
                                id_invalidate_valide_task__id_elt.removeClass("btn-warning");
                                id_invalidate_valide_task__id_elt.addClass("btn-primary");
                                $(('.text_'+task__id)).html(`<i class="fas fa-times warning-color"></i> {% translate 'Task not validated' %}`);
                                $(('.modal_text_'+task__id)).html(`
                                    <div class="status-badge warning-color">
                                        <i class="fas fa-times warning-color"></i> {% translate 'Task not validated' %}
                                    </div>
                                `);
                            }
                            $('#modal_comment').modal('hide');
                            {% comment %} $('#card-item-task-'+task__id).modal('show'); {% endcomment %}
                            task__id = null;
                            action_code = null;
                            if(id_invalidate_elt){
                                id_invalidate_elt.hide();
                            }
                            $('#id_in_validation_comment').val("");
                        }else{
                            alert(response.message);
                        }
                        btn_send_comment.prop("disabled", false);
                        btn_send_comment.text("{% translate 'Send' %}");

                        if(response.mail_message && response.sms_message){
                            alert(response.mail_message+"\n"+response.sms_message);
                        }else if(response.mail_message){
                            alert(response.mail_message);
                        }else if(response.sms_message){
                            alert(response.sms_message);
                        }
                    },
                    error: function (data) {
                        spin.hide();
                        alert(error_server_message + "Error " + data.status);
                        btn_send_comment.prop("disabled", false);
                        btn_send_comment.text("{% translate 'Send' %}");
                    }
                });
            }
        });
        //End valide invalide


        //Complet Uncomplet
        $('.uncomplete_complete').click(function () {
            // Completed Uncompleted
            let task_completed__id = this.id.split("_")[this.id.split("_").length - 1];
            let action_code_completed = $(('#action_code_completed_'+task_completed__id)).val();
            let elt_task_number = $(('#task_number_'+task_completed__id));

            $.ajax({
                type: "GET",
                url: "{% url 'dashboard:process_manager:complete_uncomplete_task' %}",
                data: {
                    // no_sql_db_name: facilitator_db_name,
                    no_sql_db_name: $('#facilitator-db-name-'+task_completed__id).attr('data-db-name'),
                    task_id: task_completed__id,
                    action_code: action_code_completed
                },
                success: function (response) {
                    if(response.status == "ok"){
                        if(action_code_completed == "1" || action_code_completed == 1){
                            $(('#action_code_completed_'+task_completed__id)).val(0);
                            $(("#id_uncomplete_complete_"+task_completed__id)).text(`{% translate 'Mark as uncompleted' %}`);
                            $(("#id_uncomplete_complete_"+task_completed__id)).removeClass("btn-primary");
                            $(("#id_uncomplete_complete_"+task_completed__id)).addClass("btn-warning");
                            $(('.text_completed_'+task_completed__id)).html(`
                                <div class="status-badge badge-completed">
                                    {% translate 'Completed' %}
                                </div>
                            `);
                            $(('.modal_text_completed_'+task_completed__id)).html(`
                                <div class="status-badge badge-completed">
                                    {% translate 'Completed' %}
                                </div>
                            `);
                            elt_task_number.removeClass("badge-pending");
                            elt_task_number.addClass("badge-completed");
                        }else{
                            $(('#action_code_completed_'+task_completed__id)).val(1);
                            $(("#id_uncomplete_complete_"+task_completed__id)).text(`{% translate 'Mark as completed' %}`);
                            $(("#id_uncomplete_complete_"+task_completed__id)).removeClass("btn-warning");
                            $(("#id_uncomplete_complete_"+task_completed__id)).addClass("btn-primary");
                            $(('.text_completed_'+task_completed__id)).html(`
                                <div class="status-badge badge-pending">
                                    {% translate 'Pending' %}
                                </div>
                            `);
                            $(('.modal_text_completed_'+task_completed__id)).html(`
                                <div class="status-badge badge-pending">
                                    {% translate 'Pending' %}
                                </div>
                            `);
                            elt_task_number.removeClass("badge-completed");
                            elt_task_number.addClass("badge-pending");
                        }
                    }else{
                        alert(response.message);
                    }

                },
                error: function (data) {
                    spin.hide();
                    alert(error_server_message + "Error " + data.status);
                }
            });
        });
        //End complet Uncomplet
    }
</script>