{% load static i18n bootstrap4 custom_tags %}

<!-- Modal  modal-dialog-centered -->
<div class="modal fade" id="card-item-task-{{ task|get:'_id' }}" tabindex="-1" role="dialog"
     aria-labelledby="UploadTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div style="visibility:hidden"
                 id="facilitator-db-name-{{ task|get:'_id' }}"
                 data-db-name="{{ db_name }}"></div>
            <div class="modal-header">
                <h5 class="modal-title">
                    {{ task.name }} - <b>{{ task.administrative_level_name }}</b>
                </h5>
                <div class="col-sm-2 text-right">
                    <div class="modal_text_completed_{{ task|get:'_id' }}">
                        {% if task.completed %}
                        <div class="status-badge badge-completed">
                            {% translate 'Completed' %}
                        </div>
                        {% else %}
                        <div class="status-badge badge-pending">
                            {% translate 'Pending' %}
                        </div>
                        {% endif %}
                    </div>
                    <div class="modal_text_{{ task|get:'_id' }}" style="margin-top: 10px;">
                        {% if task.validated %}
                        <div class="status-badge success-color">
                            <i class="fas fa-check success-color"></i> {% translate 'Task validated' %}
                        </div>
                        {% else %}
                        <div class="status-badge warning-color">
                            {% if task.validated == False %}
                            <i class="fas fa-times warning-color"></i>
                            {% translate 'Task not validated' %}
                            {% else %}
                            <i class="fas fa-exclamation-triangle warning-color"></i>
                            {% translate 'Unseen task' %}
                            {% endif %}
                        </div>
                        {% endif %}
                    </div>

                </div>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="card">
                <div class="card-body">

                    {% comment %} {% with task|structureTheFields as fields %}
                    {% for field, value in fields.items %}
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">{{ field }}</label>
                        <div class="col-sm-9">
                            <input type="text" readonly value="{% if value %}{{ value }}{% else %}-{% endif %}"
                                   class="form-control"/>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    {% endfor %}
                    {% endwith %} {% endcomment %}

                    {% with task|structureTheFieldsLabels as liste %}
                    {% for fields in liste %}
                    {% for field, dicts in fields.items %}
                    {% if dicts.value|checkType:'dict' %}
                    <div class="fieldset">
                        <fieldset>
                            <legend>{{ dicts.name }}</legend>
                            <div class="content">
                                {% for k, v in dicts.value.items %}
                                {% if v.value|checkType:'dict' %}
                                <div>
                                    <fieldset>
                                        <legend>{{ v.name }}</legend>
                                        <div class="content">
                                            {% for k1, v1 in v.value.items %}
                                            {% if v1.value|checkType:'dict' %}
                                            <div>
                                                <fieldset>
                                                    <legend>{{ v1.name }}</legend>
                                                    <div class="content">
                                                        {% for k2, v2 in v1.value.items %}
                                                        <div class="form-group row">
                                                            <label class="col-sm-3 col-form-label">{{ v2.name }}</label>
                                                            <div class="col-sm-9">
                                                                <input type="text" readonly
                                                                       value="{% if v2.value %}{{ v2.value }}{% else %}-{% endif %}"
                                                                       class="form-control"/>
                                                            </div>
                                                            <div class="clearfix"></div>
                                                        </div>
                                                        {% endfor %}
                                                    </div>
                                                </fieldset>
                                            </div>
                                            {% elif v1.value|checkType:'list' %}
                                            <div class="fieldset">
                                                <fieldset>
                                                    <legend>{{ v1.name }}</legend>
                                                    <div class="content">
                                                        {% for item2 in v1.value %}
                                                        <div>
                                                            <fieldset>
                                                                <legend>{{ forloop.counter }}</legend>
                                                                <div class="content">
                                                                    {% for field2, dicts2 in item2.items %}
                                                                    <div class="form-group row">
                                                                        <label class="col-sm-3 col-form-label">{{
                                                                            dicts2.name|structureTheWords }}</label>
                                                                        <div class="col-sm-9">
                                                                            <input type="text" readonly
                                                                                   value="{% if dicts2.value %}{{ dicts2.value }}{% else %}-{% endif %}"
                                                                                   class="form-control"/>
                                                                        </div>
                                                                        <div class="clearfix"></div>
                                                                    </div>
                                                                    {% endfor %}
                                                                </div>
                                                            </fieldset>
                                                        </div>
                                                        {% endfor %}
                                                    </div>
                                                </fieldset>
                                            </div>
                                            {% else %}
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">{{ v1.name }}</label>
                                                <div class="col-sm-9">
                                                    <input type="text" readonly
                                                           value="{% if v1.value %}{{ v1.value }}{% else %}-{% endif %}"
                                                           class="form-control"/>
                                                </div>
                                                <div class="clearfix"></div>
                                            </div>
                                            {% endif %}
                                            {% endfor %}
                                        </div>
                                    </fieldset>
                                </div>
                                {% elif v.value|checkType:'list' %}
                                <div class="fieldset">
                                    <fieldset>
                                        <legend>{{ v.name }}</legend>
                                        <div class="content">
                                            {% for item0 in v.value %}
                                            <div>
                                                <fieldset>
                                                    <legend>{{ forloop.counter }}</legend>
                                                    <div class="content">
                                                        {% for field0, dicts0 in item0.items %}
                                                        <div class="form-group row">
                                                            <label class="col-sm-3 col-form-label">{{
                                                                dicts0.name|structureTheWords }}</label>
                                                            <div class="col-sm-9">
                                                                <input type="text" readonly
                                                                       value="{% if dicts0.value %}{{ dicts0.value }}{% else %}-{% endif %}"
                                                                       class="form-control"/>
                                                            </div>
                                                            <div class="clearfix"></div>
                                                        </div>
                                                        {% endfor %}
                                                    </div>
                                                </fieldset>
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </fieldset>
                                </div>
                                {% else %}
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">{{ v.name }}</label>
                                    <div class="col-sm-9">
                                        <input type="text" readonly
                                               value="{% if v.value %}{{ v.value }}{% else %}-{% endif %}"
                                               class="form-control"/>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                {% endif %}

                                {% endfor %}
                            </div>
                        </fieldset>
                    </div>
                    {% elif dicts.value|checkType:'list' %}
                    <div class="fieldset">
                        <fieldset>
                            <legend>{{ dicts.name }}</legend>
                            <div class="content">
                                {% for item in dicts.value %}
                                <div>
                                    <fieldset>
                                        <legend>{{ forloop.counter }}</legend>
                                        <div class="content">
                                            {% for field1, dicts1 in item.items %}
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">{{ dicts1.name|structureTheWords
                                                    }}</label>
                                                <div class="col-sm-9">
                                                    <input type="text" readonly
                                                           value="{% if dicts1.value %}{{ dicts1.value }}{% else %}-{% endif %}"
                                                           class="form-control"/>
                                                </div>
                                                <div class="clearfix"></div>
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </fieldset>
                                </div>
                                {% endfor %}
                            </div>
                        </fieldset>
                    </div>
                    {% else %}
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">{{ dicts.name }}</label>
                        <div class="col-sm-9">
                            <input type="text" readonly
                                   value="{% if dicts.value %}{{ dicts.value }}{% else %}-{% endif %}"
                                   class="form-control"/>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    {% endif %}
                    {% endfor %}
                    {% endfor %}
                    {% endwith %}


                    {% if task.attachments %}
                    {% for attach in task.attachments %}
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">{{ attach.name }}</label>
                        <div class="col-sm-9 attach-file">
                            {% if attach.attachment.uri %}
                            {% if "file:///data" in attach.attachment.uri %}
                            <p><i class="fas fa-paperclip mr-2"></i>{% translate 'Not synchronized' %}</p>
                            {% elif ".pdf" in attach.attachment.uri %}
                            <a href="{{ attach.attachment.uri|imgAWSS3Filter }}" target="_blank">
                                {% translate "Link" %}
                            </a><br/>
                            <a href="{{ attach.attachment.uri|imgAWSS3Filter }}" target="_blank">
                                <iframe src="{{ attach.attachment.uri|imgAWSS3Filter }}" width="250"
                                        height="300"></iframe>
                            </a>
                            {% elif ".docx" in attach.attachment.uri or ".doc" in attach.attachment.uri %}
                            <a href="{{ attach.attachment.uri|imgAWSS3Filter }}" target="_blank">
                                {% translate "Download" %}
                            </a><br/>
                            <a href="{{ attach.attachment.uri|imgAWSS3Filter }}" target="_blank">
                                <iframe style="float: left;"
                                        src='https://view.officeapps.live.com/op/embed.aspx?src={{ attach.attachment.uri|imgAWSS3Filter }}'
                                        width="250" height="300" frameborder='0'>
                                    This is an embedded
                                    <a target='_blank' href='http://office.com'>Microsoft Office</a>
                                    document, powered by
                                    <a target='_blank' href='http://office.com/webapps'>Office Online</a>.
                                </iframe>
                            </a>
                            {% else %}
                            <a href="{{ attach.attachment.uri|imgAWSS3Filter }}" target="_blank">
                                <!-- class="btn btn-primary" data-toggle="modal"
                                data-target="#item-attach-{{ forloop.counter }}" -->
                                <img src="{{ attach.attachment.uri|imgAWSS3Filter }}" width="200" height="200"/>
                            </a>
                            {% endif %}
                            {% else %}
                            <p><i class="fas fa-paperclip mr-2"></i>{% translate 'Not present' %}</p>
                            {% endif %}
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    {% endfor %}
                    {% endif %}

                </div>
                {% if user.is_superuser or user|has_group:"Admin" or user|has_group:"Coordinator" or user|has_group:"Supervisor" or user|has_group:"CDDSpecialist" %}
                <input type="hidden" value="{% if task.completed %}0{% else %}1{% endif %}"
                       name="{{ task|get:'_id' }}" id="action_code_completed_{{ task|get:'_id' }}"/>
                {% if task.completed %}

                <div style="margin-top: 25px; width: 100%;">
                    <div style="width: 30%; margin: auto; float: right;">
                        <button type="button" name="uncomplete_complete" class="btn btn-xs btn-warning uncomplete_complete"
                                required id="id_uncomplete_complete_{{ task|get:'_id' }}">
                            {% translate 'Mark as uncompleted' %}
                        </button>
                    </div>

                    {% comment %} Validation Invalidation {% endcomment %}
                    {% include "common/validation_invalidation.html" %}
                    {% comment %} End Validation Invalidation {% endcomment %}
                </div>
                <div style="clear: both;"></div>
                {% else %}
                <button type="button" name="uncomplete_complete" class="btn btn-xs btn-primary uncomplete_complete"
                        style="margin-top: 25px; width: 50%; margin: auto;"
                        required id="id_uncomplete_complete_{{ task|get:'_id' }}">
                    {% translate 'Mark as completed' %}
                </button>
                {% endif %}


                {% else %}
                {% if task.completed %}
                {% if user|has_group:"CDDSpecialist" or user|has_group:"Evaluator" or user|has_group:"Validator" %}
                <div style="margin-top: 25px; width: 100%;">
                    {% comment %} <input type="hidden" value="{% if task.validated %}0{% else %}1{% endif %}"
                                         name="{{ task|get:'_id' }}" id="action_code_{{ task|get:'_id' }}"/>
                    <button type="button" name="invalidate_valide"
                            class="btn btn-xs {% if task.validated %}btn-warning{% else %}btn-primary{% endif %} invalidate_valide"
                            style="margin-top: 25px; width: 50%; margin: auto;"
                            required id="id_invalidate_valide_{{ task|get:'_id' }}">
                        {% if task.validated %}
                        {% translate 'Mark as invalidated' %}
                        {% else %}
                        {% translate 'Mark as validated' %}
                        {% endif %}
                    </button>
                    {% endcomment %}

                    {% comment %} Validation Invalidation {% endcomment %}
                    {% include "common/validation_invalidation.html" %}
                    {% comment %} End Validation Invalidation {% endcomment %}
                </div>
                {% endif %}
                {% endif %}

                {% endif %}
            </div>
        </div>
    </div>
</div>
<!-- End Modal -->