{% extends 'layouts/base.html' %}
{% load static i18n bootstrap4 custom_tags %}

{% block content %}
<div class="row"> 
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-8">
                        <div class="col-8 text-left">
                            <div class="fs28 lh35 text-primary text-bold-family mb-4" style="font-size: 16px !important;">
                                 {% translate 'Activity Detail' %}<br>
                            </div>
                        </div>
                         <p style="font-size: 16px !important;"><strong>Name:</strong> {{ activity.name }}</p>
                         <p style="font-size: 16px !important;"><strong>Order:</strong> {{ activity.order }}</p>
                         <p style="font-size: 16px !important;"><strong>Description:</strong> {{ activity.description }}</p>
                         <p style="font-size: 16px !important;"><strong>Project:</strong> {{ activity.phase.project.name }}</p>
                         <p style="font-size: 16px !important;"><strong>Phase:</strong> {{ activity.phase.name }}</p>
                         <p style="font-size: 16px !important;"><strong>Total Task:</strong> {{ activity.total_tasks }}</p>
                         <p style="font-size: 16px !important;"><strong>Couch Id:</strong> {{ activity.couch_id }}</p>
                    </div>
                </div>
                {% if user.is_superuser or user|has_group:"Admin" %}
            <div class="float-right mb-3">
                <a href="{% url 'dashboard:tasks:create_task' activity.pk%}"
                class="btn btn-primary btn-sm rounded-xl">
                    <i class="fa fa-plus mr-2"></i>
                    Create Task
                </a>
            </div>
            <a href="{% url 'dashboard:activities:activity_Detail' activity.pk %}"   
                                    class="btn btn-primary btn-xs" title="{% translate 'Referesh' %}">
                                    <span class="_web">Referesh</span>
                                    <span class="_mobile"><i class="fa fa-eye"></i></span>
                                </a>
            {% endif %}                
            </div>
            
        </div>
        
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body table-responsive">
                <div class="col-8 text-left">
                    <div class="fs28 lh35 text-primary text-bold-family mb-4" style="font-size: 16px !important;">
                         {% translate 'Task List' %}<br>
                    </div>
                </div>
                <table id="table" class="table">
                    <thead>
                    <tr>
                        <th>{% translate 'Order' %}</th>
                        <th>{% translate 'Name' %}</th>
                        <th width="60%">{% translate 'Action' %}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for task in tasks %}
                        <tr>
                            <td>{{ task.order }}</td>
                            <td>{{ task.name }}</td>
                            <td>
                                
                                {% if user.is_superuser or user|has_group:"Admin" %}
                                <a href="{% url 'dashboard:tasks:task_detail' task.pk %}"   
                                    class="btn btn-primary btn-xs" title="{% translate 'View' %}">
                                    <span class="_web">View</span>
                                    <span class="_mobile"><i class="fa fa-eye"></i></span>
                                </a>
                                <a href="{% url 'dashboard:tasks:update' task.pk %}"
                                    class="btn btn-primary btn-xs" title="{% translate 'Edit' %}">
                                    <span class="_web">Edit</span>
                                    <span class="_mobile"><i class="fa fa-user"></i></span>
                                </a>
                                <a href="{% url 'dashboard:tasks:MoveUp' task.pk %}"
                                    class="btn btn-primary btn-xs" title="{% translate 'Move Up' %}">
                                    <span class="_web">Move Up</span>
                                    <span class="_mobile"><i class="fa fa-arrow-up"></i></span>
                                </a>                        
                                <a href="{% url 'dashboard:tasks:MoveDown' task.pk %}"
                                    class="btn btn-primary btn-xs" title="{% translate 'Move Down' %}">
                                    <span class="_web">Move Down</span>
                                    <span class="_mobile"><i class="fa fa-arrow-down"></i></span>
                                </a>
                                <a href="#"
                                    class="btn btn-primary btn-xs" title="{% translate 'Move Down' %}">
                                    <span class="_web">Task Form</span>
                                    <span class="_mobile"><i class="fa fa-arrow-down"></i></span>
                                </a>
                                <a href="{% url 'dashboard:tasks:delete' task.pk %}"
                                    class="btn btn-sm btn-danger" title="{% translate 'Delete' %}">
                                    <span class="_web">Delete</span>
                                    <span class="_mobile"><i class="fa fa-edit"></i></span>
                                </a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
</div>
{% endblock %}