{% load static i18n custom_tags %}


<div class="card">
    <div class="card-body table-responsive">
        <table id="table" class="table">
            <thead>
            <tr>                
                <th>{% translate 'Order' %}</th>
                <th>{% translate 'Name' %}</th>
                <th width="40%">{% translate 'Action' %}</th>
            </tr>
            </thead>
            <tbody>
            {% for activity in activities %}
                <tr>
                    <td>{{ activity.order }}</td>                    
                    <td>{{ activity.name }}</td>
                    <td>                        
                        {% if user.is_superuser or user|has_group:"Admin" %}
                        <a href="{% url 'dashboard:activities:activity_Detail' activity.pk %}"   
                            class="btn btn-primary btn-xs" title="{% translate 'View' %}">
                            <span class="_web">View</span>
                            <span class="_mobile"><i class="fa fa-eye"></i></span>
                        </a>
                        <a href="{% url 'dashboard:activities:update' activity.pk %}"
                            class="btn btn-primary btn-xs" title="{% translate 'Edit' %}">
                            <span class="_web">Edit</span>
                            <span class="_mobile"><i class="fa fa-user"></i></span>
                        </a>
                        <a href="{% url 'dashboard:activities:delete' activity.pk %}"
                            class="btn btn-sm btn-danger" title="{% translate 'Delete' %}">
                            <span class="_web">Delete</span>
                            <span class="_mobile"><i class="fa fa-edit"></i></span>
                        </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>


<script type="text/javascript">
        $(document).ready(function () {
            {% get_current_language as lang %}

            let table = $('#table').DataTable({
                language: {
                    url: '{% static 'AdminLTE/plugins/datatables/locale/lang.json' %}'.replace('lang', '{{ lang }}')
                },
                dom: "ltipr",
                columnDefs: [
                    {
                        targets: 1,
                        orderable: false,
                        searchable: false,
                    }
                ],
                lengthMenu: [100, 200, 300],
                pageLength: 100,
                order: [[0, 'desc']]
            });
            $('#search').on('keyup', function () {
                table.search($(this).val()).draw();
            });
                   
                       

        });
        

    </script>

