{% extends 'layouts/base.html' %}
{% load bootstrap4 static i18n %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
                       
            <div class="card">
                
                <form method="post">
                    {% csrf_token %}

                    <div class="card-body">
                        <div class="row">
                            <div class="col-6">
                                {% bootstrap_field form.name %}
                                {% bootstrap_field form.description %}
                            </div>
                        </div> 
                    </div>                     
                    <div class="card-footer">
                        <button  type="submit" class="btn btn-primary btn-sm rounded-xl" >
                            {% translate "SAVE" %}
                        </button>
                    </div>                   
                    </form>
            </div>
        </div>
    </div>

{% endblock content %}

